
<div class="interactive-wrapper">
    <div class="cartogram-wrapper">
    	<div class="gv-title__line"><span>Populism in Europe 1992-2018</span></div>
    	<svg></svg>
    </div>
    <div class="cartogram-wrapper totals">
    	<div class="gv-title__line"><span>Populism in Europe 2018</span></div>
    	<svg></svg>
    </div>
    <div class="maps-wrapper">
    	<div class="gv-title__line"><span>Populism evolution since 1992</span></div>
    </div>
    <div class="charts-wrapper">
    </div>
</div>