
<div class="interactive-wrapper">
     <div class="area-charts-wrapper">
        <div class="gv-title__line">
            <h2>Area charts</h2>
        </div>
        <div class="countries-wrapper alps">
            <h2>The Alps</h2>
        </div>
        <div class="countries-wrapper south">
            <h2>The South</h2>
        </div>
        <div class="countries-wrapper heart">
            <h2>The heart</h2>
        </div>
        <div class="countries-wrapper visegrad">
            <h2>Visegrád</h2>
        </div>
        <div class="countries-wrapper scandinavia">
            <h2>Scandinavia</h2>
        </div>
    </div>
    <div class="cartogram-wrapper">
    	<div class="gv-title__line"><span>Populism in Europe 1992-2018</span></div>
    	<svg></svg>
    </div>
    <div class="cartogram-wrapper totals">
    	<div class="gv-title__line"><span>Populism in Europe 2018</span></div>
    	<svg></svg>
    </div>
    <div class="maps-wrapper">
    	<div class="gv-title__line"><span>Populism evolution since 1992</span></div>
    </div>
    <div class="charts-wrapper">
    </div>
</div>