@import "mq";
@import "fonts";
@import "palette";
// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";
.element-atom,
.interactive-atom {
    margin: 0 !important;
}

// path {
//   stroke: #000;
//   stroke-width: 1px;
// }

body{background: black;}

.interactive-wrapper{position: absolute; right: 0%;}


.gv-title__line {
    position: absolute;
    z-index: 5;
    padding-left: 10px;
    margin-top: 0px;
    font-size: 16px;
    line-height: 20px;
    font-family: "Guardian Headline","Guardian Headline Full","Guardian Egyptian Web",Georgia,serif;
    font-weight: bold;
    font-size: 35px;
    line-height: 44px;
    padding-bottom: 24px;
    margin-left: -1px;
    max-width: 400px;
    color: white;

}

#wing-hatch--rightshare {
    stroke: $highlight-yellow;
    stroke-width: 2;
}

#wing-hatch--leftshare {
    stroke: $inverted-orange;
    stroke-width: 2;
}

#wing-hatch--othershare {
    stroke: $gu-darkred;
    stroke-width: 2;
}

rect {
    fill: $neutral-20;
}

g text {
    @include fs-textSans(1);
    font-size: 12px;
    fill: $neutral-60;
}
text.year {
    font-size: 24px;
    font-weight: 700;
    fill: #555;
}

circle {
    fill: rgba(15,30,150,.25);
    stroke: #555;
}

path{

	// stroke:#DaDaDa;
	// stroke-width:.5;
}

.rightLine{
	stroke: rgb(0, 178, 255);
	stroke-width:2px;
}

.leftLine{
	stroke: rgb(255, 78, 54);
	stroke-width:2px;
}

.otherLine{
    stroke: $neutral-20;
    stroke-width:2px;
}

.area{
   stroke-width:1px;
   stroke: $neutral-20;
}

.rightshare{
    
}

.leftshare{
    
}

.othershare{
    
}


.stripe-1 {
  
}
.annotations-text tspan{font-family:'TE32TextEgyptian-Bold'; font-size:16px;}
.tspanYellow{color: $highlight-yellow;}

#arrow path{fill:white}

.annotations-text text{fill:white}

/*@keyframes widen {
  100% {
    width: 100%;
  }
}*/




