@import "mq";
@import "fonts";
@import "palette";
// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";
.element-atom,
.interactive-atom {
    margin: 0 !important;
}

body{background: #F4F0EF;}

.maps-wrapper{
    float:left;
    position:relative;
    max-width:860px;
}

.map-wrapper{
    position: relative;
    float: left;
    padding:6px
}

.area-group-fill .area.rightshare{
    fill:#506697;
}

.area-group-fill .area.leftshare{
    fill:#ef485e;
}

.area-group-fill .area.othershare{
    fill:white;
}

.area-group-stroke .area.rightshare{
    stroke:black;
    stroke-width:2px;
    fill:none;
}

.area-group-stroke .area.leftshare{
    stroke:black;
    stroke-width:2px;
    fill:none;
}

.area-group-stroke .area.othershare{
    fill:none;
}

.charts-wrapper{
    position:relative;
    float:left;
}

.chart-wrapper{
    position:relative;
    float:left;
}

.chart-wrapper h3{
    color:black;
    font-size: 16px;
}

.chart-dotted-line{
    stroke-dasharray: 0 4;
    stroke: #F4F0EF;
    stroke-width: 1px;
    stroke-linecap:round ;
}

.chart-dotted-line.last{
    stroke: #000;
    stroke-dasharray: none;
}

.area-group-lines text {
    font-size: 12px;
    font-family: "Guardian Headline","Guardian Headline Full","Guardian Egyptian Web",Georgia,serif;
    fill: black;
}

.countries-wrapper{
    width:100%;
    float:left;
    position:relative;
}

.area-group-annotation .line{
    stroke:black;
    stroke-width:1px;
    fill:none;
}

.area-group-annotation .arrow{
    fill:black;
}

.area-group-annotation text{
    fill:black;
    font-family: "Guardian Headline","Guardian Headline Full","Guardian Egyptian Web",Georgia,serif;
    font-size: 12px;
}


