@import "mq";
@import "fonts";
@import "palette";
// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";
.element-atom,
.interactive-atom {
    margin: 0 !important;
}

.maps-wrapper{
    float:left;
    position:relative;
    max-width:860px;
}

.map-wrapper{
    position: relative;
    float: left;
    padding:6px
}

body{background: #F4F0EF;}

.gv-title__line {
    position: relative;
    z-index: 5;
    padding-left: 10px;
    margin-top: 0px;
    font-size: 16px;
    line-height: 20px;
    font-family: "Guardian Headline","Guardian Headline Full","Guardian Egyptian Web",Georgia,serif;
    font-weight: bold;
    font-size: 35px;
    line-height: 44px;
    padding-bottom: 24px;
    margin-left: -1px;
    max-width: 400px;
    color: $highlight-yellow;

}

.area-group-fill .area.rightshare{
    fill:#506697;
}

.area-group-fill .area.leftshare{
    fill:#ef485e;
}

.area-group-fill .area.othershare{
    fill:white;
}

.area-group-stroke .area.rightshare{
    stroke:black;
    stroke-width:2px;
    fill:none;
}

.area-group-stroke .area.leftshare{
    stroke:black;
    stroke-width:2px;
    fill:none;
}

.area-group-stroke .area.othershare{
    fill:none;
}

.charts-wrapper{
    position:relative;
    float:left;
}

.chart-wrapper{
    margin-left:-7px;
    position:relative;
    float:left;
}

.chart-wrapper svg{
    padding: 0;
    margin: 0;
}

.chart-wrapper .rightLine{
    stroke: $sport-blue;
}
.chart-wrapper .leftLine{
    stroke: $live-red;
}
.chart-wrapper .otherLine{
    stroke: grey;
}
.chart-wrapper .accumLine{
    stroke: $highlight-yellow;
}

.chart-wrapper h3{
    color:black;
    margin:0;
}

.chart-dotted-line{
    stroke-dasharray: 0 4;
    stroke: #F4F0EF;
    stroke-width: 1px;
    stroke-linecap:round ;
}

.chart-dotted-line.l7{
    stroke: #000;
    stroke-dasharray: none;
}


.area-group-lines text {
    @include fs-textSans(1);
    font-size: 12px;
    font-family: "Guardian Headline","Guardian Headline Full","Guardian Egyptian Web",Georgia,serif;
    fill: black;
}
.countries-wrapper{
    width:100%;
    float:left;
    position:relative;
}

rect[data-popgov="true"] {
    fill: grey;
    stroke: none;
    z-index:-100;
}

rect[data-popgov="false"] {
    fill: none;
}

#wing-hatch{
    stroke: $highlight-yellow;
    stroke-width: 2;
}

.area-group-annotation .line{
    stroke:black;
    stroke-width:1px;
    fill:none;
}

.area-group-annotation .arrow{
    fill:black;
}

.area-group-annotation text{
    fill:black;
    font-family: "Guardian Headline","Guardian Headline Full","Guardian Egyptian Web",Georgia,serif;
    font-size: 12px;
}
